jsprit-io/src/main/resources/vehicleParameters_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to GraphHopper GmbH under one or more contributor
  ~ license agreements. See the NOTICE file distributed with this work for
  ~ additional information regarding copyright ownership.
  ~
  ~ GraphHopper GmbH licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3schools.com">
<xs:element name="profile">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="car">
                <xs:annotation>
                    <xs:documentation>air drag coefficient</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dimensions">
                            <xs:annotation>
                                <xs:documentation>in kg  TODO: Battery electric vehicle is heavier than ICEV</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:float" name="frontalArea"/> <!-- TODO: make sure it is double -->
                                    <xs:element type="xs:short" name="weight">
                                        <xs:annotation>
                                            <xs:documentation>https://cars.lovetoknow.com/List_of_Car_Weights</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="speed">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:byte" name="maximum">
                                        <xs:annotation>
                                            <xs:documentation>in meter per second</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element type="xs:byte" name="average"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="crr"/>
                        <xs:element type="xs:string" name="cw">
                            <xs:annotation>
                                <xs:documentation>Rolling friction coefficient</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bus">
                <xs:annotation>
                    <xs:documentation>air drag coefficient</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dimensions">
                            <xs:annotation>
                                <xs:documentation>in kg  TODO: Battery electric vehicle is heavier than ICEV</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:float" name="frontalArea"/>
                                    <xs:element type="xs:short" name="weight">
                                        <xs:annotation>
                                            <xs:documentation>https://cars.lovetoknow.com/List_of_Car_Weights</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="speed">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:byte" name="maximum">
                                        <xs:annotation>
                                            <xs:documentation>in meter per second</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element type="xs:byte" name="average"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="crr"/>
                        <xs:element type="xs:string" name="cw">
                            <xs:annotation>
                                <xs:documentation>Rolling friction coefficient</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="truck">
                <xs:annotation>
                    <xs:documentation>air drag coefficient</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dimensions">
                            <xs:annotation>
                                <xs:documentation>in kg  TODO: Battery electric vehicle is heavier than ICEV</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:float" name="frontalArea"/>
                                    <xs:element type="xs:short" name="weight">
                                        <xs:annotation>
                                            <xs:documentation>https://cars.lovetoknow.com/List_of_Car_Weights</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="speed">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:byte" name="maximum">
                                        <xs:annotation>
                                            <xs:documentation>in meter per second</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element type="xs:byte" name="average"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="crr"/>
                        <xs:element type="xs:string" name="cw">
                            <xs:annotation>
                                <xs:documentation>Rolling friction coefficient</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bigTruck">
                <xs:annotation>
                    <xs:documentation>air drag coefficient</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dimensions">
                            <xs:annotation>
                                <xs:documentation>in kg  TODO: Battery electric vehicle is heavier than ICEV</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:float" name="frontalArea"/>
                                    <xs:element type="xs:short" name="weight">
                                        <xs:annotation>
                                            <xs:documentation>https://cars.lovetoknow.com/List_of_Car_Weights</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="speed">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:byte" name="maximum">
                                        <xs:annotation>
                                            <xs:documentation>in meter per second</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element type="xs:byte" name="average"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="crr"/>
                        <xs:element type="xs:string" name="cw">
                            <xs:annotation>
                                <xs:documentation>Rolling friction coefficient</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
